@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both; //clear out both the left and right float
    }
}

@mixin center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media query manager
/*
Different sizes going to be used i.e breakpoints
0-600px phone
600-900px tab-portrait/ tab-por
900px-1200px tab-landscape/ tab-land
1200px - 1800px desktop which we based our designs on
1800px+ for larger desktops big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width:37.5em) { @content }; // 600px
    }
    @if $breakpoint == tab-por {
        @media (max-width:56.25em) { @content }; // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width:75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width:112.5em) { @content }; // 1800px
    }
}