.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;

  &_side {
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    border-radius: 3px;
    overflow: hidden; // to hide the overflowing image over the corners
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

    &_front {
      background-color: $color-white;
    }

    &_back {
      transform: rotateY(180deg);

      &_1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }

      &_2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)
        );
      }

      &_3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.8),
          rgba($color-tertiary-dark, 0.8)
        );
      }
    }
  }

  &:hover &_side_front {
    transform: rotateY(-180deg);
  }

  &:hover &_side_back {
    transform: rotateY(0);
  }

  &_picture {
    height: 21rem;
    background-blend-mode: screen;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &_1 {
      background-image: linear-gradient( to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)),
       url(../img/nat-5.jpg);
    }

    &_2 {
      background-image: linear-gradient( to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)),
       url(../img/nat-5.jpg);
    }

    &_3 {
      background-image: linear-gradient( to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8)),
       url(../img/nat-5.jpg);
    }
  }

  &_heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &_heading_span {
    &_1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
    }
  }
}
