.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &_close {
    &:link,
    &:visited {
      color: $color-dark-grey;
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 3rem;
      text-decoration: none;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.4);
    }
  }

  &_content {
    @include center-element;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    border-radius: 3px;
    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-por) {
      display: block;
      text-align: center;
      padding: 2rem;
    }
  }

  &_left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab-land) {
      width: 42%;
    }

    @include respond(tab-por) {
      width: 100%;
      display: block;
      float: right;
      position: relative;
    }

    @include respond(phone) {
      width: 0;
      display: none;
      opacity: 0;
    }
  }

  &_right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      width: 58%;
      padding: 0 1.5rem;
    }

    @include respond(tab-por) {
      width: 100%;
      display: block;
      float: left;
      padding: 1.5rem 1.5rem 0rem 1.5rem;
    }

    @include respond(phone) {
      width: 100%;
      display: block;
    }
  }

  &_img {
    &_1 {
      display: block;
      width: 100%;
      box-shadow: 0 .5rem 2rem rgba($color: #000000, $alpha: 0.4);

      @include respond(tab-por) {
        display: inline-block;
        width: 30%;
        // position: relative;
        // top: 50%;
        // // left: 3%;
        // // z-index: 100;
        transform: scale(1.05);
      }
    }

    &_2 {
      display: block;
      width: 100%;
      box-shadow: 0 .5rem 2rem rgba($color: #000000, $alpha: 0.4);

      @include respond(tab-por) {
        display: inline-block;
        width: 30%;
        // position: relative;
        // top: 55%;
        // transform: scale(1.1);
      }
    }
  }

  &_text {
    font-size: 1.4rem;
    margin-bottom: 3rem;

    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-por) {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
      -webkit-column-rule: none;
      column-count: 1;
      column-gap: 0;
      column-rule: none;

      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }

  &:target &_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
